CONFIG PART = xc6slx45-3-csg324 ;
CONFIG VCCAUX = 3.3;
# ==== Clock inputs (CLK) ====
NET "CLK_100MHZ" LOC=L15 | IOSTANDARD=LVCMOS33;

NET "CLK_100MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

# ==== Pushbuttons (BTN) ====
NET "BTN_RESET_N" LOC = T15 | IOSTANDARD = LVCMOS33;
#NET "BTN_NORTH" LOC = N4  | IOSTANDARD = LVCMOS33;
#NET "BTN_WEST"  LOC = P4  | IOSTANDARD = LVCMOS33;
#NET "BTN_SOUTH" LOC = P3  | IOSTANDARD = LVCMOS33;
#NET "BTN_EAST"  LOC = F6  | IOSTANDARD = LVCMOS33;
#NET "BTN_CENTER" LOC= F5  | IOSTANDARD = LVCMOS33;

# ==== Slide Switch (SW0) ====
NET "SW<0>" LOC = A10 | IOSTANDARD = LVCMOS33;
NET "SW<1>" LOC = D14 | IOSTANDARD = LVCMOS33;
NET "SW<2>" LOC = C14 | IOSTANDARD = LVCMOS33;
NET "SW<3>" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "SW<4>" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "SW<5>" LOC = R5  | IOSTANDARD = LVCMOS33;
NET "SW<6>" LOC = T5  | IOSTANDARD = LVCMOS33;
NET "SW<7>" LOC = E4  | IOSTANDARD = LVCMOS33;

# ==== LED ====
NET "LED<0>" LOC = "U18" | IOSTANDARD = LVCMOS33;
NET "LED<1>" LOC = "M14" | IOSTANDARD = LVCMOS33;
NET "LED<2>" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "LED<3>" LOC = "L14" | IOSTANDARD = LVCMOS33;
NET "LED<4>" LOC = "M13" | IOSTANDARD = LVCMOS33;
NET "LED<5>" LOC = "D4"  | IOSTANDARD = LVCMOS33;
NET "LED<6>" LOC = "P16" | IOSTANDARD = LVCMOS33;
NET "LED<7>" LOC = "N12" | IOSTANDARD = LVCMOS33;

# ==== RS-232 Serial Ports (RS232) ====
#NET "RXD" LOC = A16 | IOSTANDARD=LVCMOS33;
#NET "TXD" LOC = B16 | IOSTANDARD=LVCMOS33;

# ==== Joypads ====
#NET "NES_JOYPAD_CLK"   LOC = T3  | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_LATCH" LOC = R3  | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_DATA1" LOC = P6  | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_DATA2" LOC = N5  | IOSTANDARD = LVCMOS33;

# ==== VGA Port (VGA) ====
#NET "VGA_HSYNC"    LOC = N6 | IOSTANDARD = LVCMOS33;
#NET "VGA_VSYNC"    LOC = P7 | IOSTANDARD = LVCMOS33;
#NET "VGA_RED<0>"   LOC = U7 | IOSTANDARD = LVCMOS33;
#NET "VGA_RED<1>"   LOC = V7 | IOSTANDARD = LVCMOS33;
#NET "VGA_RED<2>"   LOC = N7 | IOSTANDARD = LVCMOS33;
#NET "VGA_GREEN<0>" LOC = P8 | IOSTANDARD = LVCMOS33;
#NET "VGA_GREEN<1>" LOC = T6 | IOSTANDARD = LVCMOS33;
#NET "VGA_GREEN<2>" LOC = V6 | IOSTANDARD = LVCMOS33;
#NET "VGA_BLUE<0>"  LOC = R7 | IOSTANDARD = LVCMOS33;
#NET "VGA_BLUE<1>"  LOC = T7 | IOSTANDARD = LVCMOS33;

# ==== Audio ====
#NET "AUDIO" LOC = "K2" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6;

##############################################################
# TMDS pairs on the top TMDS IN (FPGA Bank 1): J3 
##############################################################
#NET "RX0_TMDS(0)"   LOC = "K17" | IOSTANDARD = TMDS_33 ; # Blue
#NET "RX0_TMDSB(0)"  LOC = "K18" | IOSTANDARD = TMDS_33 ;
#NET "RX0_TMDS(1)"   LOC = "L17" | IOSTANDARD = TMDS_33 ; # Red
#NET "RX0_TMDSB(1)"  LOC = "L18" | IOSTANDARD = TMDS_33 ;
#NET "RX0_TMDS(2)"   LOC = "J16" | IOSTANDARD = TMDS_33 ; # Green
#NET "RX0_TMDSB(2)"  LOC = "J18" | IOSTANDARD = TMDS_33 ;
#NET "RX0_TMDS(3)"   LOC = "H17" | IOSTANDARD = TMDS_33 ; # Clock
#NET "RX0_TMDSB(3)"  LOC = "H18" | IOSTANDARD = TMDS_33 ;
NET "RX0_SCL"       LOC = "M16" | IOSTANDARD = LVCMOS33;
NET "RX0_SDA"       LOC = "M18" | IOSTANDARD = LVCMOS33;

##############################################################
# TMDS pairs on the top TMDS OUT (FPGA Bank 0): J2 
##############################################################
#NET "TMDS(0)"   LOC = "D8" | IOSTANDARD = TMDS_33 ; # Blue
#NET "TMDSB(0)"  LOC = "C8" | IOSTANDARD = TMDS_33 ;
#NET "TMDS(1)"   LOC = "C7" | IOSTANDARD = TMDS_33 ; # Red
#NET "TMDSB(1)"  LOC = "A7" | IOSTANDARD = TMDS_33 ;
#NET "TMDS(2)"   LOC = "B8" | IOSTANDARD = TMDS_33 ; # Green
#NET "TMDSB(2)"  LOC = "A8" | IOSTANDARD = TMDS_33 ;
#NET "TMDS(3)"   LOC = "B6" | IOSTANDARD = TMDS_33 ; # Clock
#NET "TMDSB(3)"  LOC = "A6" | IOSTANDARD = TMDS_33 ;
#NET "TX_SCL"    LOC = "D9" | IOSTANDARD = LVCMOS33;
#NET "TX_SDA"    LOC = "C9" | IOSTANDARD = LVCMOS33;



##############################################################
# Giga Ethernet (Marvell M88E1111)
##############################################################
#NET "clk125_gen/clkout2_buf.O" TNM_NET = "TNM_CLK_125M";
#TIMESPEC "TS_CLK_125M" = PERIOD "TNM_CLK_125M" 125 MHz HIGH 50 % PRIORITY 0 ;

#NET "GMII_MDIO"             LOC = "N17" | IOSTANDARD = LVCMOS33;
#NET "GMII_MDC"              LOC = "F16" | IOSTANDARD = LVCMOS33;
#NET "GMII_INT_N"            LOC = "L16" | IOSTANDARD = LVCMOS33;
#NET "GMII_RESET_N"           LOC = "G13" | IOSTANDARD = LVCMOS33;
#NET "GMII_COL"              LOC = "C17" | IOSTANDARD = LVCMOS33;
#NET "GMII_CRS"              LOC = "C18" | IOSTANDARD = LVCMOS33;

#NET "GMII_RXDV"              LOC = "F17" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXCLK"             LOC = "K15" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXER"             LOC = "F18" | IOSTANDARD = LVCMOS33;

#NET "GMII_RXD<0>"    LOC = "G16" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXD<1>"    LOC = "H14" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXD<2>"    LOC = "E16" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXD<3>"    LOC = "F15" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXD<4>"    LOC = "F14" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXD<5>"    LOC = "E18" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXD<6>"    LOC = "D18" | IOSTANDARD = LVCMOS33;
#NET "GMII_RXD<7>"    LOC = "D17" | IOSTANDARD = LVCMOS33;

#PIN "pclkx4bufg.O"   CLOCK_DEDICATED_ROUTE = FALSE;
#NET "GMII_GTXCLK"    LOC = "L12" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXCLK"    LOC = "K16" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXER"              LOC = "G18" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXEN"              LOC = "H15" | IOSTANDARD = LVCMOS33;

#NET "GMII_TXD<0>"    LOC = "H16" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXD<1>"    LOC = "H13" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXD<2>"    LOC = "K14" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXD<3>"    LOC = "K13" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXD<4>"    LOC = "J13" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXD<5>"    LOC = "G14" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXD<6>"    LOC = "H12" | IOSTANDARD = LVCMOS33;
#NET "GMII_TXD<7>"    LOC = "K12" | IOSTANDARD = LVCMOS33;
